<!DOCTYPE html>
<html lang="en">
<%- include('./include/inc_head.html') %>
<body>
  <div class="wrap">
    <!-- header -->
    <%- include('./include/inc_header.html') %>
    <!-- // -->
    <div class="container">
      <!-- login -->
      <section class="section section--login">
        <div class="pad-inline">
          <h1 class="title">TS Dashboard</h1>
          <!-- clock -->
          <div class="ts-today">
            <span class="ts-date"></span>
            <span class="ts-clock">00:00:00</span>
          </div>
          <!-- // -->
        </div>
      </section>
      <!-- // -->
    </div>
    <!-- footer -->
    <%- include('./include/inc_footer.html') %>
    <!-- // -->
  </div>
  <script src="../assets/scripts/bundle.js"></script>
</body>
</html>